{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Profile</h1>

            {{ form_start(profileForm, {'attr': {'class': 'form'}}) }}
                <div class="form-group">
                    {{ form_label(profileForm.prenom, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(profileForm.prenom, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(profileForm.nom, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(profileForm.nom, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(profileForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(profileForm.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(profileForm.plainPassword, 'Modifier votre mot de passe (laissez vierge si vous ne voulez pas le modifier)', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(profileForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                </div>

                <button type="submit" class="btn btn-primary btn-block">Sauvegarder</button>
            {{ form_end(profileForm) }}
        </div>
    </div>
</div>
{% endblock %}